@{
    ViewData["Title"] = "Ambar";
   
}

<div class="text-center">
    <h1 class="display-4 text-warning ">Ambar</h1> 
</div>

<!DOCTYPE html>
<html lang="es">
<head>
    
</head>
<body>

  
</body>
</html>



