@model Shooping.Data.Entities.State

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CitiesNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CitiesNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddCity" class="btn btn-outline-secondary" asp-route-id="@Model?.Id">Agregar Ciudad</a> |
    <a asp-action="EditState" class="btn btn-outline-secondary" asp-route-id="@Model?.Id">Edit Estado</a> |
    <a asp-action="Details" class="btn btn-outline-success">Back to List</a>

</div>
