
@{
    ViewData["Title"] = "NotAuthorized";
}
<br />
<br /><a href="c:\users\usuario\source\repos\shopping\shopping\program.cs">c:\users\usuario\source\repos\shopping\shopping\program.cs</a>
<div class="col-md-4 mx-auto">

    <img src="img-fluid/images/nose.png" alt="height: auto" />
 
</div>
<h2>No estas autorizado</h2>

